//
   Created by truong-quang-thanh on 10/19/2015.

footer.footer
  .container
    p
      | Basejump book app
      = ' | '
      a(href='https://twitter.com/thanhacun') @thanhacun
      = ' | '
      a(href='https://github.com/thanhacun/book/issues?state=open') Issues
