@base-bgColor: #faebd7;
.asking-book {
  background: @base-bgColor;
}
.asked-book {
  background: darken(@base-bgColor, 10%);
}
.loading {
  position: fixed;
  top: 50%;
  left:50%;
  z-index: 15;
}
.greeting {
  margin-top: -20px;
  position: relative;
  padding: 30px 15px;
  background: #4393B9;
  color: white;
}

#searchResults {
  height: 600px;
  position: absolute;
  overflow: auto;
  overflow-y: auto;
  z-index: 10;
  opacity: 0.9  ;
  .list-group-item .media-object {
      height: 40%;
  }
  .odd {
    background: darken(@base-bgColor, 15%);
  }
  .even {
    background: darken(@base-bgColor, 25%);
  }
}

#showBooks {
  .list-group-item .media-object {
    height: 190px;
  }
}
