div(ng-include='"components/navbar/navbar.html"')

header.greeting
  .container
    h1.text-center Book jump - Features
    .list-group
      .list-group-item.list-group-item-success.col-sm-6(ng-repeat='feature in features') {{feature}}

.container.stick(ng-show='dataLoading')
  .loading.text-center: span.fa.fa-2x.fa-spinner.fa-spin

.container
  .row
    .col-lg-12.text-center
      h1.page-header(ng-hide='showAllBook') My books and asking ones
      h1.page-header(ng-show='showAllBook') All users books

    .col-sm-12.col-md-6.col-md-offset-3
      form.form-group(name='bookForm')
        .input-group
          .input-group-btn
            button.btn(ng-click='allBookToggle()', ng-class='{"btn-success": showAllBook}')
              span(ng-hide='showAllBook') All books
              span(ng-show='showAllBook') My books
          input.form-control(type='text', ng-model='newBook.title', placeholder='Enter book title to add to database')
          .input-group-btn
            button.btn.btn-success(type='button', ng-click='modifyBook.newBook(newBook.title)', ng-disabled='!newBook.title'): span.fa.fa-plus-square


    .col-sm-12
      .media-list.list-group.col-md-6.col-sm-12.clearfix(ng-repeat='book in books')
        .media.list-group-item(ng-class='{"asking-book": book.status.asking, "asked-book": book.status.asked}')
          .media-left
            a(href='{{book.vol_url}}')
              img.media-object.img-rounded(ng-src='{{book.cover_url}}')
          .media-body
            span.badge.alert-success.pull-right
              | {{'Owners: ' + book.users.length}}
            h4.media-heading.text-danger {{book.name}}
            //First 50 words
            p.clearfix {{book.des.split(' ').slice(0, 50).join(' ') + " ..."}}
          span.badge.alert-info
            | {{'Asked: ' + book.trades.length}}
          button.badge.alert-danger(ng-click='modifyBook.deleteBook(book._id)', ng-show='book.status.owned || currentUser.email === "admin@admin.com"', data-toggle='tooltip', title='Delete the book'): span.fa.fa-trash-o
          button.badge.alert-warning(ng-click='modifyBook.askBook(book)', ng-show='book.status.askable', data-toggle='tooltip', title='Ask for the book'): span.fa.fa-question
          button.badge.alert-info(ng-click='modifyBook.exchangeBook(book)', ng-show='book.status.asked', data-toggle='tooltip', title='Exchange the book'): span.fa.fa-exchange

.container.text-center
  div(ng-include='"components/footer/footer.html"')
