div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    header
        ul
          li.text-muted List my books and all books
          li.text-muted Add new book, ask for a book
          li.text-muted Exchange books
          li.text-muted Sync across clients
          li.text-muted Optimize database
  .row
    .col-lg-12
      header
        h1(ng-hide='showAllBook') My books
        h1(ng-show='showAllBook') All books

    .col-sm-12.col-md-6.col-md-offset-3
      h2.text-center Enter book title to add to databse
      form.form-group(name='bookForm')
        .input-group
          .input-group-addon
            span All books
          .input-group-btn
            button.btn.btn-info(ng-click='allBookToggle()')
              span.fa.fa-toggle-off(ng-hide='showAllBook')
              span.fa.fa-toggle-on(ng-show='showAllBook')
          input.form-control(type='text', ng-model='newBook.title', placeholder='Book title')
          .input-group-btn
            button.btn.btn-success(type='button', ng-click='modifyBook.newBook(newBook.title)', ng-disabled='!newBook.title'): span.fa.fa-plus-square


    .col-sm-12
      .media-list.list-group.col-md-6.col-sm-12.clearfix(ng-repeat='book in books')
        .media.list-group-item
          .media-left
            img.media-object.img-rounded(ng-src='{{book.cover_url}}')
          .media-body
            span.badge.alert-success.pull-right
              | {{'Owners: ' + book.users.length}}
            h4.media-heading.text-danger {{book.name}}
            //First 50 words
            p.clearfix {{book.des.split(' ').slice(0, 50).join(' ') + " ..."}}
          span.badge.alert-info
            | {{'Asked: ' + book.trades.length}}
          button.badge.alert-danger(ng-click='modifyBook.deleteBook(book._id)', ng-show='book.status.owned'): span.fa.fa-trash-o
          button.badge.alert-warning(ng-click='modifyBook.askBook(book)', ng-show='book.status.askable'): span.fa.fa-question
          button.badge.alert-info(ng-click='modifyBook.exchangeBook(book)', ng-show='book.status.asked'): span.fa.fa-exchange

.container.text-center
  div(ng-include='"components/footer/footer.html"')
